//include path_to_variables
//or add var here with "-"

-
	var list = [{
	//add list object for loop
	}];

mixin catalog(catalog)
	//include any_pug_tamplate.pug
	h1 Exp. add simple html or pug file(include example.pug)
for catalog in list
	+catalog(catalog) Loop in catalog